.Component-menu
    figure
        img(src="./assets/images/logo_live.png", alt="Logo Platzinger" class="logo")
    ul
        li(routerLink='home') home
        li(routerLink='conversation') conversation
        li(routerLink='profile') profile