a('[routerLink]'="'/conversation/'+contact.uid", class="contact-data")
    img( src="assets/images/logo_live_online.png", class="status-image", alt="status img")
    b   {{contact.nick + ' - ' + contact.email}}